<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>


  <% if(dayToday==="Wednesday"){ %>
     <h1 style="color:Purple"> <%=dayToday%> To do list</h1>
  <% }else{ %>
     <h1 style="color:blue"> <%=dayToday%> To do list</h1>
  <% } %>


  </body>
</html>
